{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "This template creates a Multi-AZ, multi-tiered network VPC with managed NAT gateways in the public subnet for each Availability Zone. It also creates subnet groups for ElastiCache, RDS, and Redshift. You have the option of deploy to either 2 (the default), 3, or 4 Availability Zones and a 2 (the default) or 3 tiered network VPC.",
  "Metadata": {
    "AWS::CloudFormation::Interface": {
      "ParameterGroups": [
        {
          "Label": {
            "default": "Availability Zone Configuration"
          },
          "Parameters": [
            "NumberOfAZs"
          ]
        },
        {
          "Label": {
            "default": "Network Configuration"
          },
          "Parameters": [
            "NumberOfNetworkTiers",
            "VPCName"
          ]
        }
      ],
      "ParameterLabels": {
        "NumberOfAZs": {
          "default": "Number of Availability Zones"
        },
        "NumberOfNetworkTiers": {
          "default": "Number of network tiers"
        },
        "VPCName": {
          "default": "VPC Name"
        }
      }
    }
  },
  "Parameters": {
    "NumberOfAZs": {
      "AllowedValues": [
        "2",
        "3",
        "4"
      ],
      "Default": "2",
      "Description": "Number of Availability Zones to use in the VPC. Ensure that the Region you are deploying to can support the number of AZs selected!",
      "Type": "String"
    },
    "NumberOfNetworkTiers": {
      "AllowedValues": [
        "2",
        "3"
      ],
      "Default": "2",
      "Description": "Number of network tiers to use in the VPC. You can create a 2 (private & public) or 3 (internal, private, & public) tiered network VPC. The internal subnet will have no outbound internet access. The private subnet will have outbound internet access via NAT Gateways. DB related subnet groups will be created in both internal and private subnets.",
      "Type": "String"
    },
    "VPCName": {
      "AllowedValues": [
        "lab01",
        "continuous-integration01",
        "system-integration01",
        "staging01",
        "production01"
      ],
      "Default": "lab01",
      "Description": "VPC Environment name.",
      "Type": "String"
    }
  },
  "Mappings": {
    "Static": {
      "All": {
        "S3Bucket": "myprivates3bucket",
        "InternalSubnetsNestedStackS3Key": "/cloudformation_templates/vpc/subnets/internal_subnets.template",
        "PrivateSubnetsNestedStackS3Key": "/cloudformation_templates/vpc/subnets/private_subnets.template",
        "PrivateSubnetsInternetRouteNestedStackS3Key": "/cloudformation_templates/vpc/subnets/private_subnets_internet_route.template",
        "PublicSubnetsNestedStackS3Key": "/cloudformation_templates/vpc/subnets/public_subnets.template",
        "ElastiCacheSubnetGroupNestedStackS3Key": "/cloudformation_templates/vpc/subnet_groups/elasticache_subnet_group.template",
        "RDSDBSubnetGroupNestedStackS3Key": "/cloudformation_templates/vpc/subnet_groups/rds_db_subnet_group.template",
        "RedshiftClusterSubnetGroupNestedStackS3Key": "/cloudformation_templates/vpc/subnet_groups/redshift_cluster_subnet_group.template",
        "RedshiftClusterPublicSubnetGroupNestedStackS3Key": "/cloudformation_templates/vpc/subnet_groups/redshift_cluster_public_subnet_group.template"
      }
    },
    "VPC": {
      "lab01": {
        "InternalSubnet1CIDR": "10.0.0.0/20",
        "InternalSubnet2CIDR": "10.0.16.0/20",
        "InternalSubnet3CIDR": "10.0.32.0/20",
        "InternalSubnet4CIDR": "10.0.48.0/20",
        "PrivateSubnet1CIDR": "10.0.64.0/20",
        "PrivateSubnet2CIDR": "10.0.80.0/20",
        "PrivateSubnet3CIDR": "10.0.96.0/20",
        "PrivateSubnet4CIDR": "10.0.112.0/20",
        "PublicSubnet1CIDR": "10.0.128.0/24",
        "PublicSubnet2CIDR": "10.0.129.0/24",
        "PublicSubnet3CIDR": "10.0.130.0/24",
        "PublicSubnet4CIDR": "10.0.131.0/24",
        "VPCCIDR": "10.0.0.0/16"
      },
      "continuous-integration01": {
        "InternalSubnet1CIDR": "10.1.0.0/20",
        "InternalSubnet2CIDR": "10.1.16.0/20",
        "InternalSubnet3CIDR": "10.1.32.0/20",
        "InternalSubnet4CIDR": "10.1.48.0/20",
        "PrivateSubnet1CIDR": "10.1.64.0/20",
        "PrivateSubnet2CIDR": "10.1.80.0/20",
        "PrivateSubnet3CIDR": "10.1.96.0/20",
        "PrivateSubnet4CIDR": "10.1.112.0/20",
        "PublicSubnet1CIDR": "10.1.128.0/24",
        "PublicSubnet2CIDR": "10.1.129.0/24",
        "PublicSubnet3CIDR": "10.1.130.0/24",
        "PublicSubnet4CIDR": "10.1.131.0/24",
        "VPCCIDR": "10.1.0.0/16"
      },
      "system-integration01": {
        "InternalSubnet1CIDR": "10.2.0.0/20",
        "InternalSubnet2CIDR": "10.2.16.0/20",
        "InternalSubnet3CIDR": "10.2.32.0/20",
        "InternalSubnet4CIDR": "10.2.48.0/20",
        "PrivateSubnet1CIDR": "10.2.64.0/20",
        "PrivateSubnet2CIDR": "10.2.80.0/20",
        "PrivateSubnet3CIDR": "10.2.96.0/20",
        "PrivateSubnet4CIDR": "10.2.112.0/20",
        "PublicSubnet1CIDR": "10.2.128.0/24",
        "PublicSubnet2CIDR": "10.2.129.0/24",
        "PublicSubnet3CIDR": "10.2.130.0/24",
        "PublicSubnet4CIDR": "10.2.131.0/24",
        "VPCCIDR": "10.2.0.0/16"
      },
      "staging01": {
        "InternalSubnet1CIDR": "10.3.0.0/20",
        "InternalSubnet2CIDR": "10.3.16.0/20",
        "InternalSubnet3CIDR": "10.3.32.0/20",
        "InternalSubnet4CIDR": "10.3.48.0/20",
        "PrivateSubnet1CIDR": "10.3.64.0/20",
        "PrivateSubnet2CIDR": "10.3.80.0/20",
        "PrivateSubnet3CIDR": "10.3.96.0/20",
        "PrivateSubnet4CIDR": "10.3.112.0/20",
        "PublicSubnet1CIDR": "10.3.128.0/24",
        "PublicSubnet2CIDR": "10.3.129.0/24",
        "PublicSubnet3CIDR": "10.3.130.0/24",
        "PublicSubnet4CIDR": "10.3.131.0/24",
        "VPCCIDR": "10.3.0.0/16"
      },
      "production01": {
        "InternalSubnet1CIDR": "10.4.0.0/20",
        "InternalSubnet2CIDR": "10.4.16.0/20",
        "InternalSubnet3CIDR": "10.4.32.0/20",
        "InternalSubnet4CIDR": "10.4.48.0/20",
        "PrivateSubnet1CIDR": "10.4.64.0/20",
        "PrivateSubnet2CIDR": "10.4.80.0/20",
        "PrivateSubnet3CIDR": "10.4.96.0/20",
        "PrivateSubnet4CIDR": "10.4.112.0/20",
        "PublicSubnet1CIDR": "10.4.128.0/24",
        "PublicSubnet2CIDR": "10.4.129.0/24",
        "PublicSubnet3CIDR": "10.4.130.0/24",
        "PublicSubnet4CIDR": "10.4.131.0/24",
        "VPCCIDR": "10.4.0.0/16"
      }
    }
  },
  "Conditions": {
    "3AZCondition": {
      "Fn::Or": [
        {
          "Fn::Equals": [
            {
              "Ref": "NumberOfAZs"
            },
            "3"
          ]
        },
        {
          "Condition": "4AZCondition"
        }
      ]
    },
    "4AZCondition": {
      "Fn::Equals": [
        {
          "Ref": "NumberOfAZs"
        },
        "4"
      ]
    },
    "3NetworkTierCondition": {
      "Fn::Equals": [
        {
          "Ref": "NumberOfNetworkTiers"
        },
        "3"
      ]
    },
    "3NetworkTierAnd3AZCondition": {
      "Fn::And": [
        {
          "Condition": "3NetworkTierCondition"
        },
        {
          "Condition": "3AZCondition"
        }
      ]
    },
    "3NetworkTierAnd4AZCondition": {
      "Fn::And": [
        {
          "Condition": "3NetworkTierCondition"
        },
        {
          "Condition": "4AZCondition"
        }
      ]
    }
  },
  "Resources": {
    "DHCPOptions": {
      "Type": "AWS::EC2::DHCPOptions",
      "Properties": {
        "DomainName": {
          "Fn::Join": [
            "",
            [
              {
                "Ref": "AWS::Region"
              },
              ".compute.internal"
            ]
          ]
        },
        "DomainNameServers": [
          "AmazonProvidedDNS"
        ],
        "Tags": [
          {
            "Key": "Environment",
            "Value": {
              "Ref": "VPCName"
            }
          },
          {
            "Key": "Name",
            "Value": {
              "Fn::Join": [
                "",
                [
                  {
                    "Ref": "VPCName"
                  },
                  "_dhcpoptions_1"
                ]
              ]
            }
          }
        ]
      }
    },
    "VPC": {
      "Type": "AWS::EC2::VPC",
      "Properties": {
        "CidrBlock": {
          "Fn::FindInMap": [
            "VPC",
            {
              "Ref": "VPCName"
            },
            "VPCCIDR"
          ]
        },
        "EnableDnsSupport": "true",
        "EnableDnsHostnames": "true",
        "Tags": [
          {
            "Key": "Environment",
            "Value": {
              "Ref": "VPCName"
            }
          },          {
            "Key": "Name",
            "Value": {
              "Ref": "VPCName"
            }
          }
        ]
      }
    },
    "VPCDHCPOptionsAssociation": {
      "Type": "AWS::EC2::VPCDHCPOptionsAssociation",
      "Properties": {
        "VpcId": {
          "Ref": "VPC"
        },
        "DhcpOptionsId": {
          "Ref": "DHCPOptions"
        }
      }
    },
    "InternetGateway": {
      "Type": "AWS::EC2::InternetGateway",
      "Properties": {
        "Tags": [        
          {
            "Key": "Environment",
            "Value": {
              "Ref": "VPCName"
            }
          },
          {
            "Key": "Network",
            "Value": "public"
          }
        ]
      }
    },
    "VPCGatewayAttachment": {
      "Type": "AWS::EC2::VPCGatewayAttachment",
      "Properties": {
        "VpcId": {
          "Ref": "VPC"
        },
        "InternetGatewayId": {
          "Ref": "InternetGateway"
        }
      }
    },
    "InternalSubnetsNestedStack": {
      "Condition": "3NetworkTierCondition",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "InternalSubnetsNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "InternalSubnet1CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "InternalSubnet1CIDR"
            ]
          },
          "InternalSubnet2CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "InternalSubnet2CIDR"
            ]
          },
          "InternalSubnet3CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "InternalSubnet3CIDR"
            ]
          },
          "InternalSubnet4CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "InternalSubnet4CIDR"
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          },
          "VPC": {
            "Ref": "VPC"
          },
          "VPCName": {
            "Ref": "VPCName"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "PrivateSubnetsNestedStack": {
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "PrivateSubnetsNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "PrivateSubnet1CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "PrivateSubnet1CIDR"
            ]
          },
          "PrivateSubnet2CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "PrivateSubnet2CIDR"
            ]
          },
          "PrivateSubnet3CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "PrivateSubnet3CIDR"
            ]
          },
          "PrivateSubnet4CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "PrivateSubnet4CIDR"
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          },         
          "VPC": {
            "Ref": "VPC"
          },
          "VPCName": {
            "Ref": "VPCName"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "PrivateSubnetsInternetRouteNestedStack": {
      "DependsOn": [
        "PrivateSubnetsNestedStack",
        "PublicSubnetsNestedStack"
      ],
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "PrivateSubnetsInternetRouteNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "VPC": {
            "Ref": "VPC"
          },
          "VPCName": {
            "Ref": "VPCName"
          },
          "PrivateSubnet1RouteTableID": {
            "Fn::GetAtt": [
              "PrivateSubnetsNestedStack",
              "Outputs.PrivateSubnet1RouteTableID"
            ]
          },
          "PrivateSubnet2RouteTableID": {
            "Fn::GetAtt": [
              "PrivateSubnetsNestedStack",
              "Outputs.PrivateSubnet2RouteTableID"
            ]
          },
          "PrivateSubnet3RouteTableID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "PrivateSubnetsNestedStack",
                  "Outputs.PrivateSubnet3RouteTableID"
                ]                
              },
              ""
            ]
          },
          "PrivateSubnet4RouteTableID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "PrivateSubnetsNestedStack",
                  "Outputs.PrivateSubnet4RouteTableID"
                ]
              },
              ""              
            ]
          },
          "NATGateway1ID": {
            "Fn::GetAtt": [
              "PublicSubnetsNestedStack",
              "Outputs.NATGateway1ID"
            ]
          },
          "NATGateway2ID": {
            "Fn::GetAtt": [
              "PublicSubnetsNestedStack",
              "Outputs.NATGateway2ID"
            ]
          },
          "NATGateway3ID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "PublicSubnetsNestedStack",
                  "Outputs.NATGateway3ID"
                ]
              },
              ""
            ]
          },
          "NATGateway4ID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "PublicSubnetsNestedStack",
                  "Outputs.NATGateway4ID"
                ]
              },
              ""
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "PublicSubnetsNestedStack": {
      "DependsOn": "VPCGatewayAttachment",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "PublicSubnetsNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "InternetGatewayID": {
            "Ref": "InternetGateway"
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          },
          "PublicSubnet1CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "PublicSubnet1CIDR"
            ]
          },
          "PublicSubnet2CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "PublicSubnet2CIDR"
            ]
          },
          "PublicSubnet3CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "PublicSubnet3CIDR"
            ]
          },
          "PublicSubnet4CIDR": {
            "Fn::FindInMap": [
              "VPC",
              {
                "Ref": "VPCName"
              },
              "PublicSubnet4CIDR"
            ]
          },
          "VPC": {
            "Ref": "VPC"
          },
          "VPCName": {
            "Ref": "VPCName"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "ElastiCacheInternalSubnetGroupNestedStack": {
      "Condition": "3NetworkTierCondition",
      "DependsOn": "InternalSubnetsNestedStack",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "ElastiCacheSubnetGroupNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "Subnet1ID": {
            "Fn::GetAtt": [
              "InternalSubnetsNestedStack",
              "Outputs.InternalSubnet1ID"
            ]
          },
          "Subnet2ID": {
            "Fn::GetAtt": [
              "InternalSubnetsNestedStack",
              "Outputs.InternalSubnet2ID"
            ]
          },
          "Subnet3ID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "InternalSubnetsNestedStack",
                  "Outputs.InternalSubnet3ID"
                ]
              },
              ""
            ]
          },
          "Subnet4ID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "InternalSubnetsNestedStack",
                  "Outputs.InternalSubnet4ID"
                ]
              },
              ""
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "ElastiCachePrivateSubnetGroupNestedStack": {
      "DependsOn": "PrivateSubnetsNestedStack",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "ElastiCacheSubnetGroupNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "Subnet1ID": {
            "Fn::GetAtt": [
              "PrivateSubnetsNestedStack",
              "Outputs.PrivateSubnet1ID"
            ]
          },
          "Subnet2ID": {
            "Fn::GetAtt": [
              "PrivateSubnetsNestedStack",
              "Outputs.PrivateSubnet2ID"
            ]
          },
          "Subnet3ID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "PrivateSubnetsNestedStack",
                  "Outputs.PrivateSubnet3ID"
                ]
              },
              ""
            ]
          },
          "Subnet4ID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "PrivateSubnetsNestedStack",
                  "Outputs.PrivateSubnet4ID"
                ]
              },
              ""
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "RDSDBInternalSubnetGroupNestedStack": {
      "Condition": "3NetworkTierCondition",
      "DependsOn": "InternalSubnetsNestedStack",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "RDSDBSubnetGroupNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "Subnet1ID": {
            "Fn::GetAtt": [
              "InternalSubnetsNestedStack",
              "Outputs.InternalSubnet1ID"
            ]
          },
          "Subnet2ID": {
            "Fn::GetAtt": [
              "InternalSubnetsNestedStack",
              "Outputs.InternalSubnet2ID"
            ]
          },
          "Subnet3ID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "InternalSubnetsNestedStack",
                  "Outputs.InternalSubnet3ID"
                ]
              },
              ""
            ]
          },
          "Subnet4ID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "InternalSubnetsNestedStack",
                  "Outputs.InternalSubnet4ID"
                ]
              },
              ""
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          },
          "VPCName": {
            "Ref": "VPCName"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "RDSDBPrivateSubnetGroupNestedStack": {
      "DependsOn": "PrivateSubnetsNestedStack",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "RDSDBSubnetGroupNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "Subnet1ID": {
            "Fn::GetAtt": [
              "PrivateSubnetsNestedStack",
              "Outputs.PrivateSubnet1ID"
            ]
          },
          "Subnet2ID": {
            "Fn::GetAtt": [
              "PrivateSubnetsNestedStack",
              "Outputs.PrivateSubnet2ID"
            ]
          },
          "Subnet3ID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "PrivateSubnetsNestedStack",
                  "Outputs.PrivateSubnet3ID"
                ]
              },
              ""
            ]
          },
          "Subnet4ID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "PrivateSubnetsNestedStack",
                  "Outputs.PrivateSubnet4ID"
                ]
              },
              ""
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          },
          "VPCName": {
            "Ref": "VPCName"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "RedshiftClusterInternalSubnetGroupNestedStack": {
      "Condition": "3NetworkTierCondition",
      "DependsOn": "PrivateSubnetsNestedStack",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "RedshiftClusterSubnetGroupNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "Subnet1ID": {
            "Fn::GetAtt": [
              "InternalSubnetsNestedStack",
              "Outputs.InternalSubnet1ID"
            ]
          },
          "Subnet2ID": {
            "Fn::GetAtt": [
              "InternalSubnetsNestedStack",
              "Outputs.InternalSubnet2ID"
            ]
          },
          "Subnet3ID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "InternalSubnetsNestedStack",
                  "Outputs.InternalSubnet3ID"
                ]
              },
              ""
            ]
          },
          "Subnet4ID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "InternalSubnetsNestedStack",
                  "Outputs.InternalSubnet4ID"
                ]
              },
              ""
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "RedshiftClusterPrivateSubnetGroupNestedStack": {
      "DependsOn": "PrivateSubnetsNestedStack",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "RedshiftClusterSubnetGroupNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "Subnet1ID": {
            "Fn::GetAtt": [
              "PrivateSubnetsNestedStack",
              "Outputs.PrivateSubnet1ID"
            ]
          },
          "Subnet2ID": {
            "Fn::GetAtt": [
              "PrivateSubnetsNestedStack",
              "Outputs.PrivateSubnet2ID"
            ]
          },
          "Subnet3ID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "PrivateSubnetsNestedStack",
                  "Outputs.PrivateSubnet3ID"
                ]
              },
              ""
            ]
          },
          "Subnet4ID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "PrivateSubnetsNestedStack",
                  "Outputs.PrivateSubnet4ID"
                ]
              },
              ""
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          }
        },
        "TimeoutInMinutes": "5"
      }
    },
    "RedshiftClusterPublicSubnetGroupNestedStack": {
      "DependsOn": "PublicSubnetsNestedStack",
      "Type": "AWS::CloudFormation::Stack",
      "Properties": {
        "TemplateURL": {
          "Fn::Join": [
            "",
            [
              "https://",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "S3Bucket"
                ]
              },
              ".s3.amazonaws.com",
              {
                "Fn::FindInMap": [
                  "Static",
                  "All",
                  "RedshiftClusterSubnetGroupNestedStackS3Key"
                ]
              }
            ]
          ]
        },
        "Parameters": {
          "Subnet1ID": {
            "Fn::GetAtt": [
              "PublicSubnetsNestedStack",
              "Outputs.PublicSubnet1ID"
            ]
          },
          "Subnet2ID": {
            "Fn::GetAtt": [
              "PublicSubnetsNestedStack",
              "Outputs.PublicSubnet2ID"
            ]
          },
          "Subnet3ID": {
            "Fn::If": [
              "3AZCondition",
              {
                "Fn::GetAtt": [
                  "PublicSubnetsNestedStack",
                  "Outputs.PublicSubnet3ID"
                ]
              },
              ""
            ]
          },
          "Subnet4ID": {
            "Fn::If": [
              "4AZCondition",
              {
                "Fn::GetAtt": [
                  "PublicSubnetsNestedStack",
                  "Outputs.PublicSubnet4ID"
                ]
              },
              ""
            ]
          },
          "NumberOfAZs": {
            "Ref": "NumberOfAZs"
          }
        },
        "TimeoutInMinutes": "5"
      }
    }
  },
  "Outputs": {
    "VPCCIDR": {
      "Description": "VPC CIDR",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-VpcCidr"
            ]
          ]
        }
      },
      "Value": {
        "Fn::FindInMap": [
          "VPC",
          {
            "Ref": "VPCName"
          },
          "VPCCIDR"
        ]
      }
    },
    "VPCID": {
      "Description": "VPC ID",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-VpcId"
            ]
          ]
        }
      },      
      "Value": {
        "Ref": "VPC"
      }
    },
    "InternalSubnet1CIDR": {
      "Condition": "3NetworkTierCondition",
      "Description": "Internal subnet 1 CIDR in Availability Zone 1",
      "Value": {
        "Fn::GetAtt": [
          "InternalSubnetsNestedStack",
          "Outputs.InternalSubnet1CIDR"
        ]
      }
    },
    "InternalSubnet1ID": {
      "Condition": "3NetworkTierCondition",
      "Description": "Internal subnet 1 ID in Availability Zone 1",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-InternalSubnet1Id"
            ]
          ]
        }
      },  
      "Value": {
        "Fn::GetAtt": [
          "InternalSubnetsNestedStack",
          "Outputs.InternalSubnet1ID"
        ]
      }
    },
    "InternalSubnet2CIDR": {
      "Condition": "3NetworkTierCondition",
      "Description": "Internal subnet 2 CIDR in Availability Zone 2",
      "Value": {
        "Fn::GetAtt": [
          "InternalSubnetsNestedStack",
          "Outputs.InternalSubnet2CIDR"
        ]
      }
    },
    "InternalSubnet2ID": {
      "Condition": "3NetworkTierCondition",
      "Description": "Internal subnet 2 ID in Availability Zone 2",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-InternalSubnet2Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "InternalSubnetsNestedStack",
          "Outputs.InternalSubnet2ID"
        ]
      }
    },
    "InternalSubnet3CIDR": {
      "Condition": "3NetworkTierAnd3AZCondition",
      "Description": "Internal subnet 3 CIDR in Availability Zone 3",
      "Value": {
        "Fn::GetAtt": [
          "InternalSubnetsNestedStack",
          "Outputs.InternalSubnet3CIDR"
        ]
      }
    },
    "InternalSubnet3ID": {
      "Condition": "3NetworkTierAnd3AZCondition",
      "Description": "Internal subnet 3 ID in Availability Zone 3",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-InternalSubnet3Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "InternalSubnetsNestedStack",
          "Outputs.InternalSubnet3ID"
        ]
      }
    },
    "InternalSubnet4CIDR": {
      "Condition": "3NetworkTierAnd4AZCondition",      
      "Description": "Internal subnet 4 CIDR in Availability Zone 4",
      "Value": {
        "Fn::GetAtt": [
          "InternalSubnetsNestedStack",
          "Outputs.InternalSubnet4CIDR"
        ]
      }
    },
    "InternalSubnet4ID": {
      "Condition": "3NetworkTierAnd4AZCondition",
      "Description": "Internal subnet 4 ID in Availability Zone 4",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-InternalSubnet4Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "InternalSubnetsNestedStack",
          "Outputs.InternalSubnet4ID"
        ]
      }
    },
    "PrivateSubnet1CIDR": {
      "Description": "Private subnet 1 CIDR in Availability Zone 1",
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet1CIDR"
        ]
      }
    },
    "PrivateSubnet1ID": {
      "Description": "Private subnet 1 ID in Availability Zone 1",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-PrivateSubnet1Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet1ID"
        ]
      }
    },
    "PrivateSubnet2CIDR": {
      "Description": "Private subnet 2 CIDR in Availability Zone 2",
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet2CIDR"
        ]
      }
    },
    "PrivateSubnet2ID": {
      "Description": "Private subnet 2 ID in Availability Zone 2",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-PrivateSubnet2Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet2ID"
        ]
      }
    },
    "PrivateSubnet3CIDR": {
      "Condition": "3AZCondition",
      "Description": "Private subnet 3 CIDR in Availability Zone 3",
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet3CIDR"
        ]
      }
    },
    "PrivateSubnet3ID": {
      "Condition": "3AZCondition",
      "Description": "Private subnet 3 ID in Availability Zone 3",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-PrivateSubnet3Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet3ID"
        ]
      }
    },
    "PrivateSubnet4CIDR": {
      "Condition": "4AZCondition",      
      "Description": "Private subnet 4 CIDR in Availability Zone 4",
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet4CIDR"
        ]
      }
    },
    "PrivateSubnet4ID": {
      "Condition": "4AZCondition",
      "Description": "Private subnet 4 ID in Availability Zone 4",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-PrivateSubnet4Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet4ID"
        ]
      }
    },
    "PrivateSubnet1RouteTableID": {
      "Description": "Private Subnet 1 Route Table ID",
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet1RouteTableID"
        ]
      }
    },
    "PrivateSubnet2RouteTableID": {
      "Description": "Private Subnet 2 Route Table ID",
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet2RouteTableID"
        ]
      }
    },
    "PrivateSubnet3RouteTableID": {
      "Condition": "3AZCondition",
      "Description": "Private Subnet 3 Route Table ID",
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet3RouteTableID"
        ]
      }
    },
    "PrivateSubnet4RouteTableID": {
      "Condition": "4AZCondition",
      "Description": "External Private Subnet 4 Route Table ID",
      "Value": {
        "Fn::GetAtt": [
          "PrivateSubnetsNestedStack",
          "Outputs.PrivateSubnet4RouteTableID"
        ]
      }
    },
    "PublicSubnet1CIDR": {
      "Description": "Public subnet 1 CIDR in Availability Zone 1",
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.PublicSubnet1CIDR"
        ]
      }
    },
    "PublicSubnet1ID": {
      "Description": "Public subnet 1 ID in Availability Zone 1",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-PublicSubnet1Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.PublicSubnet1ID"
        ]
      }
    },
    "PublicSubnet2CIDR": {
      "Description": "Public subnet 2 CIDR in Availability Zone 2",
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.PublicSubnet2CIDR"
        ]
      }
    },
    "PublicSubnet2ID": {
      "Description": "Public subnet 2 ID in Availability Zone 2",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-PublicSubnet2Id"
            ]
          ]
        }
      }, 
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.PublicSubnet2ID"
        ]
      }
    },
    "PublicSubnet3CIDR": {
      "Condition": "3AZCondition",
      "Description": "Public subnet 3 CIDR in Availability Zone 3",
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.PublicSubnet3CIDR"
        ]
      }
    },
    "PublicSubnet3ID": {
      "Condition": "3AZCondition",
      "Description": "Public subnet 3 ID in Availability Zone 3",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-PublicSubnet3Id"
            ]
          ]
        }
      }, 
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.PublicSubnet3ID"
        ]
      }
    },
    "PublicSubnet4CIDR": {
      "Condition": "4AZCondition",
      "Description": "Public subnet 4 CIDR in Availability Zone 4",
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.PublicSubnet4CIDR"
        ]
      }
    },
    "PublicSubnet4ID": {
      "Condition": "4AZCondition",
      "Description": "Public subnet 4 ID in Availability Zone 4",
      "Export": {
        "Name": {
          "Fn::Join": [
            "",
            [            
              {
                "Ref": "AWS::Region"
              },
              "-",
              {
                "Ref": "AWS::StackName"
              },
              "-PublicSubnet4Id"
            ]
          ]
        }
      },
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.PublicSubnet4ID"
        ]
      }
    },
    "NATGateway1ID": {
      "Description": "NAT Gateway 1 ID in Availability Zone 1",
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.NATGateway1ID"
        ]
      }
    },
    "NATGateway2ID": {
      "Description": "NAT Gateway 2 ID in Availability Zone 2",
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.NATGateway2ID"
        ]
      }
    },
    "NATGateway3ID": {
      "Condition": "3AZCondition",
      "Description": "NAT Gateway 3 ID in Availability Zone 3",
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.NATGateway3ID"
        ]
      }
    },
    "NATGateway4ID": {
      "Condition": "4AZCondition",
      "Description": "NAT Gateway 4 ID in Availability Zone 4",
      "Value": {
        "Fn::GetAtt": [
          "PublicSubnetsNestedStack",
          "Outputs.NATGateway4ID"
        ]
      }
    }
  }
}
